/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* reset css */

html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}

/* HTML5 display-role reset */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/* every element is a border-box */
* {
    box-sizing: border-box;
}

.container {
    position: absolute;
    width: 100vw;
    padding: 0 15%;
    margin: 0 auto;
}

.container nav {
    width: 100%;

}

.container nav .nav-menu {
    width: 100%;
    height: 50px;


}

.container nav .nav-menu > li {
    display: inline-block;
    padding: 20px 30px;
}

.container nav .img-logo {
    display: inline-block;
}

.main {
    width: 100%;
}

.main .main-wrapper {
    width: 100%;
    /*    display:inline-block;*/
}

.main .large-text-wrapper {
    width: 30%;
    display: inline-block;
    text-align: center;
    padding: 20px 30px;
    margin-bottom: 50px 50px;

}

.main .larg-text {
    font-size: 56px
}

.main .btn-wrapper {
    margin: 50px;
    width: 125px;
}

.main .get-started {
    width: 125px;
    height: 50px;
}

.img-wrapper {
    width: 40%;
    display: inline-block;
    margin: 50px 120px;
}

.img-wrapper img {}

.content {}

.content .content-level1 {
    display: inline-block;

}

.content .content-level1 .first {
    display: inline-block;
    width: 45%;
    margin: 25px 5px;
    content: normal;
}

.content .content-level1 .second {
    display: inline-block;
    width: 45%;
    margin: 25px 5px;
}

.content .content-img {}

.content .middle-img {}

.content .content-level2 {
    width: 100%;
}

.content .content-level2 .first {
    display: inline-block;
    width: 30%;
    margin: 25px 5px;
}

.content .content-level2 .second {
    display: inline-block;
    width: 30%;
    margin: 25px 5px;
}

.content .content-level2 .third {
    display: inline-block;
    width: 30%;
    margin: 25px 5px;
}
