
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
    line-height: 25px;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.contact{
    display:flex;
    justify-content: space-between;
    margin:150px 0 0 0;
}
section{
    margin:50px 0 0 0;
}
h1{
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
	margin-bottom: 15px;
    font-size: 70px;
    text-align:center;
}
.container{
    display:flex;
    margin: 20px auto;
    max-width:800px;
    display:flex;
    justify-self: center;
    justify-content: space-between;
    flex-direction:column;
}

.container .sec{
    display:flex;
    justify-self:space-between;
   
}


.service-nav{
    display:flex;
    margin-bottom:100px;
    justify-content:space-between;
}

.service-cont{
    display:flex;
    justify-content:space-between;
    flex-direction:column;
    padding:0
}

.rows{ 
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    justify-self: flex-start;
}

.service-cont-left{
    background-color:lightblue;
    justify-self: center;
    margin:20px;
}
p{
    padding:15px;
}

footer p{
    justify-self:flex-start;
    margin:100px 100px;
}
.service-cont-right{
 background-color:lightblue;
 justify-self: center;
 margin:20px;
}
button.get-started{
    margin-top:70px;
}
button.more{
    padding:5px;
    margin:10px;
}
